<div class="col-12 col-sm-6 col-md-3 app-card">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Uknown app: <%- app.title %></h4>
      <% if (app.description) { %>
        <p class="card-text"><%- app.description %></p>
      <% } %>
      <span class="badge badge-secondary" style="font-size: small">
        Unkown
      </span>
    </div>
  </div>
</div>
