<div class="container">
  <div class="alert alert-info" role="alert">
    <h4 class="alert-heading">No apps to show</h4>
    <p>
      No applications are configured. <br />
      Update your config file to see something here :-)
    </p>
  </div>
</div>
