<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Page info -->
  <title>AuthGateway Portal</title>

  <!-- CSS -->
  <link rel="stylesheet" type="text/css" href="/static/bootstrap-4.0.0-beta.min.css" />
  <link rel="stylesheet" type="text/css" href="/static/portal.css" />

  <!-- Website icon -->
  <link rel="shortcut icon" type="image/png" href="/static/favicon.png"/>
</head>
