<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-success">
  <div class="container">
    <div class="row row-full justify-content-between">
      <!-- Back to the homepage -->
      <div class="col-4">
        <a class="navbar-brand" href="/">AuthGateway</a>
      </div>

      <% if (session.allowed) { %>
      <!-- User is logged in -->
      <div class="col-1">
        <div class="dropdown">
          <button
              class="btn btn-success dropdown-toggle" type="button"
              id="dropdownUserMenu" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
            <img
                class="navbar-gravatar"
                src="https://www.gravatar.com/avatar/<%= session.gravatar %>" />
          </button>

          <div class="dropdown-menu">
            <a class="dropdown-item <%- locals.page === 'profile' ? 'active' : '' %>" href="/profile">Profile</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="<%- auth.prefix %>/sign_in">Logout</a>
          </div>
        </div>
      </div>

      <% } else { %>
      <!-- User is not logged in -->
      <a class="btn btn-primary" href="<%- auth.prefix %>/sign_in">Login</a>
      <% } %>
    </div>
  </div>
</nav>
