<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-success">
  <div class="container">
    <div class="row row-full justify-content-between">
      <!-- Back to the homepage -->
      <div class="col-4">
        <a class="navbar-brand" href="/">AuthGateway</a>
      </div>

      <!-- User is not logged in -->
      <a class="btn btn-primary" href="<%- auth.prefix %>/sign_in">Login</a>
    </div>
  </div>
</nav>
