nav.navbar.sticky-top {
  margin-bottom: 1em;
}

nav img.logo {
  width: 2em;
}

.app-card {
  margin-bottom: 2em;
}

.navbar-gravatar {
  cursor: pointer;
  max-height: 32px;
  max-width:  32px;
}

.row-full {
  width: 100%;
}
